mkdocs
mkdocs-bibtex
mkdocs-include-markdown-plugin
mkdocs-table-reader-plugin
mkdocs-material
mkdocs-material-extensions
mkdocstrings
mkdocstrings-python
mkdocs-print-site-plugin
dataclasses-json
thefuzz==0.20.0
pandas~=2.1.2
scikit-learn~=1.3.2
jsonschema~=4.19.2
networkx~=3.1
