mkdocs==1.6.1
mkdocs-bibtex==4.1.0
mkdocs-include-markdown-plugin==7.1.2
mkdocs-table-reader-plugin==3.1.0
mkdocs-material==9.5.50
mkdocs-material-extensions==1.3.1
mkdocstrings==0.27.0
mkdocstrings-python==1.13.0
mkdocs-print-site-plugin==2.6.0
thefuzz==0.22.1
pandas==2.2.3
scikit-learn==1.6.1
jsonschema==4.23.0
networkx==3.4.2
pydantic==2.10.6
