mkdocs
mkdocs-bibtex
mkdocs-include-markdown-plugin
mkdocs-table-reader-plugin
mkdocs-material
mkdocs-material-extensions
mkdocstrings
mkdocstrings-python
mkdocs-print-site-plugin
dataclasses-json
pandas
scikit-learn
jsonschema
