name: Link Checker
on:
  push:
    branches:
      # run on any push to main 
      - main
  pull_request:
    paths:
      # run on any PR that modifies a markdown file
      - '**/*.md'
      # run on any PR that changes this workflow
      - .github/workflows/linkchecker.yml
      # run on any PR that changes the pip requirements
      - requirements.txt
  # let us trigger it manually
  workflow_dispatch:

jobs:
  linkcheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt
          python -m pip install linkchecker

      - name: Install our python stuff
        run: |
          python -m pip install -e src

      - name: Build Site
        run: |
          mkdocs build --verbose --clean --config-file mkdocs.yml       

      - name: Check links
        run: |
          linkchecker site/index.html
          
