name: "Lint Markdown (Changes)"
on:
  push:
    paths:
      - '**/*.md'
      - .github/workflows/lint_md_changes.yml
  pull_request:
    paths:
      - '**/*.md'
      - .github/workflows/lint_md_changes.yml

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - uses: tj-actions/changed-files@e0021407031f5be11a464abee9a0776171c79891
      id: changed-files
      with:
        files: '**/*.md'
        separator: ","
    - uses: DavidAnson/markdownlint-cli2-action@v21
      if: steps.changed-files.outputs.any_changed == 'true'
      with:
        globs: ${{ steps.changed-files.outputs.all_changed_files }}
        separator: ","
        config: .markdownlint.yml
        
